@import "../../css/colors.css";

.share-button {
    background: #53ba53;
    width: 80px;
    height: 30px;
    /*$data-primary;*/
}

.share-button-is-shared {
    background: $ui-black-transparent;
    cursor: default;
}
